@model Vidly_II.ViewModels.MoviesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Movies
</h2>

<div class="row">

    @foreach (var movie in Model.Movies)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@movie.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    }

</div>


