@model Vidly_II.ViewModels.MoviesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-8">
        <h2>Movies</h2>
    </div>

    <div class="col-4">
        @Html.ActionLink("Add Movie", "Create", "Movies", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">

    @foreach (var movie in Model.Movies)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="thumbnail" src="@movie.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <ul>
                        <li>Genre: @movie.Genre.Name</li>
                    </ul>
                    <a href="movies/details/@movie.Id" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    }

</div>


